:root {
  --white: #FFFFFF;
  --border-color: #e6e7e8;
  --hover-color: #e6e7e8;
  --select-color: #d2def0;
}

.header {
  height: 4rem;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.list-box {
  flex: 1;
  overflow-y: auto;

  .line {
    border-radius: .5rem;
    margin: 0 .5rem;
    padding: .5rem;

    &:hover{
      background-color: var(--hover-color) !important;
    }
    .icon {
      padding: .3rem;
      background-color: #4b95f3;
      color: #FFFFFF;
      border-radius: .3rem;
    }
  }

  .line-select {
    background-color: var(--select-color);
    &:hover{
      background-color: var(--select-color) !important;
    }
  }

  .item{
    border-bottom: 1px solid #e0e1e2;
    @extend .line
  }

  .item-top {
    background-color: #e3e5e6;
  }

  .item-top:hover {
    background-color: #d8dadc !important;
  }
}

.messages-box {
  flex: 1;
  overflow-y: auto;

  .date {
    padding: .2rem;
    font-size: .1rem;
    color: #969696;
  }
  .message {
    max-width: 35%;
    margin: 1rem;
    padding: .5rem;
    background-color: #e8e8e9;
    border-radius: .5rem;
  }
}

.send-box {
  display: flex;
  flex-direction: column;
  margin:0 2rem 2rem 2rem;
  height: 10rem;
  border-radius: .5rem;
  border: 1px solid #e7e7e8;
  background-color: #ffffff;
  padding: .5rem;

  .tools{
    padding: .3rem;
    .el-icon{
      font-size: 16px;
      padding: .3rem;
      border-radius: .3rem;

      &:hover{
        background-color: var(--hover-color);
      }
    }
  }
  .send{
    flex: 1;

    .el-textarea{
      height: 100%;
      .el-textarea__inner{
        height: 100%;
      }
    }
  }
  .btn{
    display: flex;
    justify-content: flex-end;
  }
}